<div class="flex flex-col m-1 border-1 border-slate-300 font-webpg">
  <div class="bg-amber-500 h-12 p-1 text-white text-xl flex flex-row items-center justify-start">
    Understanding Dynamic Components in Angular
  </div>

  <div class="flex flex-col md:flex-row p-2">
    <div class="p-2  w-1/2">
      <div class='border-1 border-slate-300 mt-1 p-1'>
        <div class="bg-cyan-300 px-2 py-1 text-gray-700 font-bold">Dynamic Components with ViewContainerRef</div>
        <div class="px-1 py-1 text-sm border-b-1 border-slate-300">
          In this example - the component is added dynamically on button click. The component
          is a pop up (Alert Box). The implementation involves the following steps.
          <ul class="list-disc">
            <li>Click on the 'Show Alert' button invokes 'showAlert' function.</li>
            <!--liThis function creates an instance of the Alert Component using a service 'ComponentFactoryResolver' from angular core.</li>
            <li>Using a method called 'resolveComponentFactory'.</li-->
            <li>For attaching the popup to the DOM a directive 'attachAlert' is created and is provided as an attribute to a ng-template or a div or a ng-container in the component where the alert component is to be attached.</li>
            <li>The component is attached using the service ViewContainerRef from angular/core.</li>
            <li>Do the clean up like the clearing the container ref and unsubscribing as soon as the attached component is destroyed</li>
          </ul>
        </div>
        <div class="flex flex-row items-ends justify-end">
          <button class="bg-red-400 rounded-lg border-1 py-1 px-2 text-white text-sm mt-1 hover:bg-red-600 hover:cursor-pointer" (click)="attachAlertComponent()">Attach Alert</button>
        </div>
      </div>
    </div>
    <div class="p-2  w-1/2">
      <div class='border-1 border-slate-300 mt-1 p-1 '>
        <div class="bg-cyan-300 px-2 py-1 text-gray-700 font-bold">Dynamic Components from config file(JSON)</div>
        <div class="px-1 py-1 text-sm border-b-1 border-slate-300">
          In this scenario the list of components to be loaded is obtained from a configuration(JSON) file.
          Based on the component names / types and the data these components have to render this view gets rendered. This is primarily implemented using ViewContainerRef package.
        </div>
        <div class="flex flex-row items-ends justify-end mb-1">
          <button class="bg-red-400 rounded-lg border-1 py-1 px-2 text-white text-sm mt-1 hover:bg-red-600 hover:cursor-pointer" (click)="loadComponents()">Load Components</button>
        </div>
        <div class="grid grid-cols-2 gap-1">
          <ng-container wrapperContainer></ng-container>
        </div>
      </div>
    </div>
  </div>
  <ng-container attachAlert></ng-container>


  <div class="flex flex-col md:flex-row p-2">
    <div class="p-2  w-1/2">
      <div class='border-1 border-slate-300 mt-1 p-1'>
        <div class="bg-cyan-300 px-2 py-1 text-gray-700 font-bold">Dynamic Components with ngComponentOutlet & ngComponentOutletInputs</div>
        <div class="px-1 py-1 text-sm">
          This is one of the simplest way of loading dynamic components. The *ngComponentOutlet would be passed the instance of the component type to be rendered with input data if any.<br/>
          <div class="bg-stone-200 p-2 my-1">
            Syntax :
              &lt;ng-template *ngComponentOutlet="someComponent; inputs: [prop1, prop2]"&gt;&lt;/ng-template&gt;
          </div>
          <div class="grid grid-cols-1">
            <ng-container [ngComponentOutlet]="plrComp" [ngComponentOutletInputs]="{data: postData}"></ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="p-2  w-1/2">
      <div class='border-1 border-slate-300 mt-1 p-1'>
        <div class="bg-cyan-300 px-2 py-1 text-gray-700 font-bold">Lazy Load Dynamic Components with ngComponentOutlet</div>
        <div class="px-1 py-1 text-sm border-b-1 border-slate-300">
          Implementing a sample to understand how a component can be lazy loaded dynamically. In this example we are implementing this scenario in 2 steps:
          <ul class="list-disc">
            <li>Create a ng-container with the NgComponentOutlet</li>
            <li>Lazy load a component using the import method and assign the instance to the NgComponentOutlet attribute</li>
          </ul>
        </div>
        <div class="flex flex-row items-ends justify-end">
          <button *ngIf="lazyComp" class="bg-red-400 rounded-lg border-1 py-1 px-2 text-white text-sm mt-1 hover:bg-red-600 hover:cursor-pointer" (click)="destroyComponent()">Clear Component</button>
          <button *ngIf="!lazyComp" class="bg-red-400 rounded-lg border-1 py-1 px-2 text-white text-sm mt-1 hover:bg-red-600 hover:cursor-pointer" (click)="lazyLoadComponent()">Lazy Load Component</button>
        </div>
        <ng-container [ngComponentOutlet]="lazyComp"></ng-container>
      </div>
    </div>
  </div>
</div>
